//- the calendar page

extends ../head

block content
	.container
		h1= title
		p.
			The STF Commitee regularly meets on Mondays between 4:00PM and 6:00PM.
			Any extra meetings, and important dates, will be posted here.
		| <iframe src="https://www.google.com/calendar/embed?src=techfee%40uw.edu&ctz=America/Los_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
