extends ../head

block content
	.container
		h1 I got your request
		p success!!!

//- block js
//- 	script(src='http://localhost:35729/livereload.js')

//- block css
//- 	link(rel='stylesheet', href='/css/tostr.css')