extends ../head

append js
	script(src='/js/policies.js')
					
block content
	.jumbotron(style='background: url(img/about.jpg); background-position: center 50%; background-repeat: no-repeat; background-size: cover;')
		.container
			h1= title
			p#simple-first Everything to know about your tech fee

	.container
		ul.nav.nav-pills.nav-justified.thumbnail.setup-panel.form-ul
			li.active
				a(href='#consumables').consumables
					h4.list-group-item-heading Consumables
			li
				a(href='#compliance').compliance
					h4.list-group-item-heading Compliance
			li
				a(href='#accessibility').accessibility
					h4.list-group-item-heading Accessibility
			li
				a(href='#wi-fi').wi-fi
					h4.list-group-item-heading Wi-Fi

			#consumables.setup-content
				h1 Consumables Policy
				h3 Purpose & Overview
				p Each year the Student Technology Fee Committee (STFC) appropriates funding for technology that requires consumables goods. This includes toner, filaments for 3D printers, non-reusable batteries, etc. This document mandates the proper use of the Student Technology Fee in purchasing consumables.
				
				h3 Policy Language
				
				ol(type="1") 
					li 
						h5 Definitions
							ol(type="a")
								li Consumables - a commodity that is intended to be used up relatively quickly

			#compliance.setup-content
				h1 Policy for compliance goes here!
			#accessibility.setup-content
				h1 Policy for accessibility goes here!
			#wi-fi.setup-content
				h1 Policy for Wi-Fi goes here!
