extends ../head

append js
	script(src='/js/policies.js')
					
block content
	.jumbotron(style='background: url(img/about.jpg); background-position: center 50%; background-repeat: no-repeat; background-size: cover;')
		.container
			h1= title
			p#simple-first Everything to know about your tech fee

	.container
		ul.nav.nav-pills.nav-justified.thumbnail.setup-panel.form-ul
			li.active
				a(href='#Consumables').consumables
					h4.list-group-item-heading Consumables
			li
				a(href='#Compliance').compliance
					h4.list-group-item-heading Compliance
			li
				a(href='#Accessibility').accessibility
					h4.list-group-item-heading Accessibility
			li
				a(href='#Wi-Fi').wi-fi
					h4.list-group-item-heading Wi-Fi

			#consumables.setup-content
				h1 Policy for consumables goes here!
			#compliance.setup-content
				h1 Policy for compliance goes here!
			#accessibility.setup-content
				h1 Policy for accessibility goes here!
			#wi-fi.setup-content
				h1 Policy for Wi-Fi goes here!
