.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


.map_canvas {
	position: relative;
	width: 100%;
	min-height: 508px;
	height: 100%;
	margin: 0;
	padding: 0;
}

.title {
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (min-width: 768px) {
	.navigator {
		z-index: 9;
		width: 725px;
		height: 50%;
		background-color: #fff;
		position: absolute;
		top: 65%;
		margin-top: -410px;
		right: -340px;
		padding: 0;
		-webkit-box-shadow: 0px 0px 0px 3px rgba(220,217,220,1);
		-moz-box-shadow: 0px 0px 0px 3px rgba(220,217,220,1);
		box-shadow: 0px 0px 0px 3px rgba(220,217,220,1);
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-height: 768px) { 
	.map_canvas {
		height: 832px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-height: 992px) { 
	.map_canvas {
		height: 1020px;
	}
 }