.subtitle {
	padding-top: 0px;
	margin-top: 4px;
	font-style: italic;
	color: #555555;
}

.title {
	margin-bottom: 4px;
} 

.basic tr * {
	padding-top: 0px;
	padding-bottom: 0px;
}

td {
	padding-top: 2px;
}

.contacts > div > table > tbody > th {
	padding: 3px;
}

.contactType {
	color: #000000 !important;
	padding-bottom: 4px !important;
	padding-left: 0px;
}

.contacts tbody > tr > th {
	font-weight: bold;
	color: rgb(75, 46, 131);
}

.contacts tbody > tr > * {
	padding-top: 0px;
	padding-bottom: 0px;
}

.contacts tbody > tr:last-child * {
	padding-bottom: 10px !important;
}

.endorsement {
	border-radius: 6px;
	padding: 10px;
	background-color: #EEEEEE;
	margin: 8px;
}

.items {
	margin: 8px;
	border-radius: 6px;
}

.items h4 {
	font-weight: bold;
}

.items > tbody > tr:nth-child(6n+2),
.items > tbody > tr:nth-child(6n+3),
.items > tbody > tr:nth-child(6n+4) {
	background-color: #DDDDDD;
}

.item-head {
	background-color: #EEEEEE; 
	font-size: 1.2em;
}

.item-info {
	background-color: #EEEEEE;
}

.item-info > td {
	padding-bottom: 0px;
	padding-top: 0px;
}

.info-first-line > td {
	padding-bottom: 6px;
	padding-top: 5px;
}

.item-info span {
	color: rgb(75, 46, 131);
	font-weight: bold;
}

.info-last-line > td {
	padding-bottom: 10px;
}