.container {
	white-space: pre-line;
}

.items {
	margin: 8px;
	border-radius: 6px;
}

.items h4 {
	font-weight: bold;
}

.items > tbody > tr.item-info,
.items > tbody > tr.item-info,
.items > tbody > tr.item-info {
	background-color: #DDDDDD;
}

.item-head {
	background-color: #FAFAFA; 
	font-size: 1.2em;
}

.item-info {
	background-color: #EEEEEE;
}

.item-info > td {
	padding-bottom: 0px;
	padding-top: 0px;
}

.info-first-line > td {
	padding-bottom: 6px;
	padding-top: 5px;
	background-color: #EEEEEE;
	margin-bottom: 4px;
}

.item-info span {
	color: rgb(75, 46, 131);
	font-weight: bold;
}

.info-last-line > td {
	padding-bottom: 10px;
}

.hidden {
	display: none;
}

table {
	width: 100%;
}

.sidebar {
	background-color: #EEEEEE;
	border-radius: 4px;
	padding-bottom: 10px;
}

label {
	margin-left: 3px;
	margin-right: 3px;
}

button {
	margin-left: 5px;
	display: inline-block;
}

select {
	margin-left: 5px;
	margin-right: 5px;
}

.funded .item-head {
	background-color: #DFF0D8 !important;
}

.funded tr.item-info {
	background-color: #EEEEEE !important;
}

.funded .info-first-line > td {
	background-color: #FAFAFA;
}