extends ../head

append css
	link(rel='stylesheet' href='../css/admin.css')

append js
	script(src='/js/award.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js', type="text/javascript")

block content
	.jumbotron(style='background: url(../img/admin.jpg); background-position: center 15%; background-repeat: no-repeat; background-size: cover;')
		.container
			h1 Admin Panel
			p Edit and change things others can't!

	.container
		ul.nav.nav-tabs
			li.active
				a(data-toggle="tab" href="#awards") Awards
			li
				a(data-toggle="tab" href="#rejections") Rejections
		div.tab-content
			div#awards.tab-pane.fade.in.active
				form(method='post' action='/admin/award')
					.form-group.col-md-12
						h2 Create an Award Letter
						p Enter the funded proposal and additional information to create an award letter
						input(type='text', name='awardProposalYear', placeholder='Year', size='10')
						input(type='text', name='awardProposalNumber', placeholder='Number', size='10')
						select(id="reportType" name='reportType') 
							option(value='0') Quarterly
							option(value='1') Annually
							option(value='2') Both
					.form-group.col-md-12
						h4 Dates:
						.inputDates
							.row
								.col-md-2
									label Quarterly 1:
								.col-md-3
									input(type='date', name="quarterlyDate1", id="qDate1")
								.col-md-2
									label Quarterly 2:
								.col-md-3
									input(type='date', name="quarterlyDate2", id="qDate2")
							.row
								.col-md-2
									label Quarterly 3:
								.col-md-3
									input(type='date', name="quarterlyDate3", id="qDate3")
								.col-md-2
									label Annual:
								.col-md-3
									input(type='date', name="annualDate", id="aDate")
							.row
								.col-md-2
									label Budget Open Month:
								.col-md-3
									input(type='date', name="budgetDate", id="bDate")
								.col-md-2
									label Budget Close Date:
								.col-md-3
									input(type='date', name="budgetCloseDate", id="bCloseDate")

					.form-group.col-md-12
						h2 Template:
						hr
						h3 Reporting Requirements
						p STF will require reports for this proposal. Reporting documents can be found on your proposal page. Reports are due on the following dates:
						ul
							.dates
						h3 Budgets and Use of Funds
						.budget
								
						
						h3 STF Stickers
						p All equipment purchased with STF funds must be identified with an STF sticker and the phrase "Funded by the Student Technology Fee” must appear in web pages and other printed or electronic material advertising/identifying the resource.  Email #[a(href='mailto:techfee@uw.edu') techfee@uw.edu] if you require stickers.
						
						h3 Compliance
						.compliance
							p The equipment in your proposal is under STF compliance as stated at this link. Equipment uder $10,000 in value are under oversight until #{moment().add(3, 'years').format('MMMM YYYY')}. Equipment over $10,000 are under oversight until #{moment().add(7, 'years').format('MMMM YYYY')}. After these periods, equipment becomes the property of the department. (Refer to the #[a(href='/policies#compliance' target="_blank") Compliance Policy]).
						
						h3 Additional Notes (Optional):
						textarea(rows="4")#awardNotes.form-control(name='awardNotes')
						
						p Any questions about your proposal can be directed to Program Coordinator at #[a(href='mailto:techfee@uw.edu') techfee@uw.edu].
					.form-group.col-md-12
						button#submitAwardButton Submit
			div#rejections.tab-pane
				form(method='post' action='/admin/rejection')
					.form-group.col-md-12
						h2 Create a Rejection Letter
						p Enter the not funded proposal and additional information to create a rejection letter
						input(type='text', name='rejectionProposalYear', placeholder='Year', size='10')
						input(type='text', name='rejectionProposalNumber', placeholder='Number', size='10')
					.form-group.col-md-12
						h2 Template:
						hr
						p We regret to inform you that the Student Technology Fee Committee is unable to provide funding for your proposal. STF received numerous requests during our current grant cycle and unfortuantely could not support this specific project.
		
						p The following are notes pulled from discussions that the Committee had regarding your proposal. It is not a perfectly accurate statement of the decision, but the general argument that I personally complied for your understanding.
						
						p You can also review the minutes from our voting meetings on our website to look at the discussions.
						h3 Additional Notes (Optional):
						textarea(rows="4")#denialNotes.form-control(name='rejectionNotes')
						
						p We urge you to submit a proposal again next cycle. Please direct any questions and feedback about STF processes to the Program Coordinator at #[a(href='mailto:techfee@uw.edu') techfee@uw.edu].
					.form-group.col-md-12
						button#submitRejectionButton Submit
	.container
		div#notification
		
			