extends ../head

append css
	link(rel='stylesheet' href='../css/admin.css')

append js
	script(src="https://maps.googleapis.com/maps/api/js?key=#{mapKey}&libraries=places")
	script(src='/js/departments.js')
	script(src='/js/vendor/locationpicker.jquery.js')

block content
	.jumbotron(style='background: url(../img/admin.jpg); background-position: center 15%; background-repeat: no-repeat; background-size: cover;')
		.container
			h1 Admin Panel
			p Edit and change things others can't!
	.container
		input#allDepartments(name='allDepartments', type='hidden', value='#{JSON.stringify(departments)}')
		form.form-horizontal(data-toggle='formcache', id='departmentForm', method='post', action='/v1/update/department')
			h1 Manage Departments
			p Set default location for departments to showcase where equipment/proposals could be on the technology map.
			.col-xs-12
				.col-md-12.well
					.form-group
						label.col-md-4.control-label(for='department') Department
						.col-md-4
							select.form-control(id="department", name='department', style="margin: 0px;")
								option(value='default') Select a department
								each val, index in departments
									option(value='#{index}')= val.Department
							span.help-block#notification
					.form-group
						label.col-md-4.control-label(for='address') Address
						.col-md-5
							input.form-control#address(placeholder="4001 E Stevens Way NE, Seattle, WA 98195")
							input#longitude(type='hidden')
							input#latitude(type='hidden')
					.form-group
						.col-md-5.col-md-offset-4
							div#location-picker(style="width: 500px; height: 400px;")
					.form-group
						.col-md-2.col-md-offset-4
							button.btn.btn-primary.form-control#save Save
