extends ../head

block content
	.container
		br
		.row
			.col-lg-12
				.input-group(style="margin-right:5px;")
					input(type="text", placeholder="Search for...", style="height: 120%; font-size: 22pt;").form-control
					span.input-group-btn
						button.btn.btn-default(style="height: 130%; width: 150%;")
							span.glyphicon.glyphicon-search