extends ../head

append css
	link(rel='stylesheet' href="/css/writeendorsement.css")

block content
	.container
		h2 Write an Endorsement
		p.
			You're writing an endorsement for #{proposal.ProposalTitle}. Use this space to talk about how 
			this proposal would help you as a student complete your tasks and advance your education or as 
			faculty help advance student education. This is not the place for comments on what you'd like to see 
			from the proposal. Once published, your name and NetID will be publicly displayed for freedom of information purposes.
		form(method="post")
			textarea(name="message")
			br
			input(type="submit")