extends head

block content
		.jumbotron(style='background-color: #1C0E36; background-position: center 40%; background-repeat: no-repeat; background-size: cover;')
			.container
				.row
					.col-md-8
						h1(style="font-size: 50px; margin-bottom:.5em; margin-top:.5em;") STF Committee
						hr(style="width:30%; height:10px; background: #4b2e83")
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit accusantium quae ratione ipsum omnis sed earum iusto provident repellat dolorum placeat dignissimos odio nobis eligendi repellendus culpa eveniet, quam ipsam.
						a(href="/blah") More >
		.container
			h2 News & Events
			.row
				.col-md-4
					div.card
						h2 Committee
						hr(style="width:30%; height:2px; background: #4b2e83")
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eveniet sit voluptates, voluptatem quas a quos illo assumenda molestiae aut, cumque accusamus, excepturi iste. Eos provident maxime officiis quod cum.
						a(href="/blah") More >
				.col-md-4
					div.card
						h2 Proposal Authors
						hr(style="width:30%; height:2px; background: #4b2e83")
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eveniet sit voluptates, voluptatem quas a quos illo assumenda molestiae aut, cumque accusamus, excepturi iste. Eos provident maxime officiis quod cum.
						a(href="/blah") More >
				.col-md-4
					div.card
						h2 Impact
						hr(style="width:30%; height:2px; background: #4b2e83")
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eveniet sit voluptates, voluptatem quas a quos illo assumenda molestiae aut, cumque accusamus, excepturi iste. Eos provident maxime officiis quod cum.
						a(href="/blah") More >