
//- the homepage
extends head

block content
		.jumbotron(style='background: url(img/index.jpg); background-position: center 40%; background-repeat: no-repeat; background-size: cover;')
			.container
				h1 Discover Student Techonology Fee
		// Grid
		.container