extends head

append js
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=#{mapKey}&libraries=places")
	script(src='/js/map.js')

append css
	link(rel='stylesheet', href='/css/map.css')

block content
	.container-fluid
		.navigator
			.container
				h2 Hiya!
		.map_canvas
