extends head

append js
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=#{mapKey}&libraries=places")
	script(src='/js/map.js')

append css
	link(rel='stylesheet', href='/css/map.css')

block content
	.container-fluid
		input#itemLocations(name='allCategories', type='hidden', value='#{JSON.stringify(items)}')
		.navigator#flipped
			.container
				.row
					.title
						.col-lg-4
							h3 Search Items
				.row
					.col-lg-4
						.input-group.form(method='get' action='/api/v1/get/items')#searchForm
							input.form-control(type="text", placeholder="Search for...")#searchInput
							span.input-group-btn
								button.btn.btn-default(type='button')#searchButton
									span.glyphicon.glyphicon-search
				.row
					.col-lg-4
						.list
							ul#itemList
				
		.map_canvas
