//- the homepage

extends head

block content
		.jumbotron(style='background: url(img/index.jpg); background-position: center 40%; background-repeat: no-repeat; background-size: cover;')
			.container
				h1= title
		// Grid
		.container
			.row
				h2 Announcements
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Welcome!
					p.
						STF is now accepting proposals. You can find the 2015 - 2016 Request for Proposals in the documents tab. The deadline for proposals in January 22nd and January 8th for fast track. Please email #[a(href='mailto:techfee@uw.edu') techfee@uw.edu] for website or proposal questions.
					hr
				.col-sm-3
					h3 Meetings
					ul.no-style
						li Every Monday, 4:00 - 6:00 PM 
						li Location: HUB 303
					a(href="/calendar") View All Events
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 About
					p.
						The Student Technology Fee and its committee appropriate over $4
						million to the students of the University of Washington. Every 
						student enrolled at UW pays a small fee per quarter, which is 
						aggregated and then paid out to supplement the technological 
						requirements of the student body.
					a(href='/about') Read More &gt;
			
			

