//- the homepage

extends head

block content
		.jumbotron(style='background: url(img/index.jpg); background-position: center 40%; background-repeat: no-repeat; background-size: cover;')
			.container
				h1= title
		// Grid
		.container.announcements
			.row
				h2 Announcements
				.col-sm-9(style='background-color:#FAFAFA; display:table-cell; float:none;')
					h3 Presentations
					p.
						Proposal presentations are scheduled. You will receive an email about your presentation date, but you can also view your presentation period at the following link.
						
						#[a(href='https://docs.google.com/spreadsheets/d/1vw0JmJ_habkVO6MFfZDh6LwrzuF2ybcJxvTe1d8X2G4/edit#gid=0' target='_blank') Presentation Schedules] 
						
						The schedule is firm, but if there is an undue difficulty with your presentation date, please contact the Committee at #[a(href='mailto:techfee@uw.edu') techfee@uw.edu]
					hr
					
				.col-sm-3(style='display:table-cell; float:none;')
					h3 Meetings
					ul.no-style
						li Every Monday, 4:00 - 6:00 PM 
						li Location: HUB 303
					a(href="/calendar") View All Events
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Deadline Extension
					p.
						The Committee is extending the deadline for standard proposals to January 29th, 2016 to give proposal authors more time to finish their proposals.
						
						The deadline is now January 29th, 2016.
					hr
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Presentations
					p.
						The following proposal ID's will be presenting on Monday, January 11th.
					ul
						li 1
						li 8
						li 10
						li 19
						li 21
						li 22
						li 27
					p.
						The following Proposal ID's will be presenting on Monday, January 25th.
					ul
						li 31
						li 32
						li 35
						li 38
						li 39
						li 40
						li 41
						li 47
					hr
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Endorsements
					p.
						Endorsements for Proposals can only be accepted after a proposal is submitted. Rather than the author gather endorsements, the proposal link can be sent out and any student or faculty can endorse on the proposal page.
					hr
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Welcome!
					p.
						STF is now accepting proposals. You can find the 2015 - 2016 Request for Proposals in the documents tab. The deadline for proposals in January 22nd and January 8th for fast track. Please email #[a(href='mailto:techfee@uw.edu') techfee@uw.edu] for website or proposal questions.
					a(href='/docs/STF-Request-for-Proposals-2015-2016.pdf') RFP Document &gt;
					hr
			.row
				.col-sm-9(style='background-color:#FAFAFA;')
					h3 About
					p.
						The Student Technology Fee and its committee appropriate over $4 million to the students of the University of Washington. Every student enrolled at UW pays a small fee per quarter, which is aggregated and then paid out to supplement the technological requirements of the student body.
					a(href='/about') Read More &gt;
			
			

