
//- the homepage
extends head

block content
		.jumbotron(style='background: url(img/index.jpg); background-position: center 40%; background-repeat: no-repeat; background-size: cover;')
			.container
				h1= title
		// Grid
		.container.announcements
			.row
				h2 Announcements

				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Supplemental Reminder
					p.
						If you plan on writing a supplemental, make sure to submit it when you are finished ('Submit Supplemental' on the Edit Supplemental page). If you are have any issues or questions, please email us.
					hr

				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Correction to Emailed Deadline
					p.
						In an email announcement for our Request for Proposals, the deadline for proposals was listed as September 5th. The correct date is #[b October 3rd], the first full Monday of Fall Quarter. Proposal authors will have until 11:59pm to submit their proposals.
					hr


				.col-sm-9(style='background-color:#FAFAFA;')
					h3 Now Accepting Fall Proposals!
					p.
						STF is now accepting proposals for Fall Quarter. A lot has changed since last year's cycle, so please take the time to read before continuing. You can find the Request for Proposals in the documents tab. The deadline for Fall proposals is #[b October 3rd], the first Monday of Fall Quarter. Please email #[a(href='mailto:techfee@uw.edu') techfee@uw.edu] for website or proposal questions.
					.row
						.col-sm-6: a(href='/docs/Summary%20of%20Changes.pdf') Summary of Changes &gt;
						.col-sm-6: a(href='/docs/Current%20Request%20for%20Proposals.pdf') Request for Proposals &gt;

					hr

				.col-sm-3(style='display:table-cell; float:none;')
					h3 Meetings
					ul.no-style
						//li Every Monday, 4:00 - 6:00 PM 
						//li Location: HUB 303
						li The first meeting will be on
						li October 3rd, 3:30 - 5:30 PM
						li HUB 303, UW Seattle
					a(href="/calendar") View All Events

				.col-sm-9(style='background-color:#FAFAFA;')
					h3 About
					p.
						The Student Technology Fee and its committee appropriate over $4 million to the students of the University of Washington. Every student enrolled at UW pays a small fee per quarter, which is aggregated and then paid out to supplement the technological requirements of the student body.
					a(href='/about') Read More &gt;			


