//- partial for the head and navbar of documents (besides raw html)

//- for the purple banner and uw logo
header#top.main-header.navbar.navbar-static-top.bs-docs-nav(role='banner')
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='http://uw.edu')
				img(src='/img/w.svg', alt='', style='height: 75px;')
				img.hidden-xs(src='/img/uw.svg', alt='', style='height: 20px;')
				// Navigation
				//container insures correct placement for IE
//- for the STF logo, white bar, and navigation
nav.navbar.navbar-default.sub-nav
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.navbar-stf(href='/'): img(src='/img/logo.png')
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Proposals 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='/proposals/create') Create New
						li: a(href='/proposals/browse') Browse All
						li: a(href='/proposals/myproposals') My Proposals
						li(role='seperator' class='divider')
						li: a(href='/metrics') Metrics
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Committee 
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='http://www.washington.edu/itconnect/wares/acquiring-software-and-hardware/keyserver-help-for-it-staff/') Key Server
						li: a(href='/calendar') Calendar
						li: a(href='/policies') Policies
				li: a(href='/documents') Documents
				//- todo li: a(href='#') Explore
			ul.nav.navbar-nav.navbar-right
				if isAdmin
					li: a(href='/admin') Admin
				li.active
					if netId
						a(href='/user')= netId
					else
						a(href='/loginUser') Login

		// /.nav-collapse